@font-face {
  font-family: "SF Pro";
  src: url("../public/SF-Pro-Display-Semibold.otf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Bold";
  src: url("../public/SF-Pro-Display-Bold.otf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro";
  src: url("../public/SF-Pro-Display-Bold.otf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro";
  src: url("../public/SF-Pro-Display-Semibold.otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro";
  src: url("../public/SF-Pro-Display-Regular.otf");
  font-weight: 400;
  font-style: normal;
}

:root {
  --color: #efefef;
}

* {
  font-family: "SF Pro", var(--main-font), system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  transition: 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition: 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -moz-transition: 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -ms-transition: 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -o-transition: 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-track:hover {
  background-color: transparent;
}

/* scrollbar itself */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
}

::-webkit-scrollbar-button {
  display: none;
}

::-moz-selection {
  background-color: #1db954;
  color: rgb(10, 10, 10);
}

::selection {
  background-color: #1db954;
  color: rgb(10, 10, 10);
}

::-moz-selection {
  background-color: #1db954;
  color: rgb(10, 10, 10);
}

html,
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility !important;
  margin: 0px;
  overflow: hidden;
  background: rgb(10, 10, 10);
}

h1,
h2,
h3,
h4,
h5,
p,
button {
  color: var(--color);
}

button,
input {
  font-size: 18px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.058);
  padding: 12px 24px;
  cursor: pointer;
  border: 0px none;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

#homelyric {
  transition: all 0.6s cubic-bezier(0.33, 1, 0.68, 1);
  gap: 8px !important;
  padding-top: 64px !important;
  scroll-behavior: smooth;
  height: 350px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-transition: all 0.6s cubic-bezier(0.33, 1, 0.68, 1);
  -moz-transition: all 0.6s cubic-bezier(0.33, 1, 0.68, 1);
  -ms-transition: all 0.6s cubic-bezier(0.33, 1, 0.68, 1);
  -o-transition: all 0.6s cubic-bezier(0.33, 1, 0.68, 1);
}

#share-left img {
  max-width: 70px;
  max-height: 70px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

#share-left div h1,
#share-left div h3 {
  text-align: left;
}

#homelyric::-webkit-scrollbar {
  width: 0px;
}

#sharelyric h2.current {
  font-size: 22px !important;
}

#sharelyric {
  max-width: 900px;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 24px;
  width: 85vw;
  max-width: 500px;
}

#lirics {
  padding: 20px;
  padding-bottom: 0px;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

#share-left {
  padding: 20px;
  margin: 0px !important;
  width: -webkit-fill-available !important;
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}

#share-left div div {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.current.sharable {
  background-color: rgba(255, 255, 255, 0.6) !important;
  color: rgba(0, 0, 0, 0.8) !important;
}
.sharable {
  padding: 12px;
  border-radius: 12px;
  opacity: 0.6 !important;
  -o-border-radius: 12px;
  -ms-border-radius: 12px;
  -moz-border-radius: 12px;
  filter: blur(0px) !important;
  -webkit-border-radius: 12px;
  -webkit-filter: blur(0px) !important;
  background-color: rgba(0, 0, 0, 0.2);
}

.left {
  flex-direction: column;
}

.lyric {
  transition: 0.5s cubic-bezier(0.86, 0.31, 0.12, 0.76);
  font-size: 26px;
  opacity: 0.3 !important;
  scale: 0.98;
  color: var(--color);
  transform-origin: left;
  -webkit-transition: 0.5s cubic-bezier(0.86, 0.31, 0.12, 0.76);
  -moz-transition: 0.5s cubic-bezier(0.86, 0.31, 0.12, 0.76);
  -ms-transition: 0.5s cubic-bezier(0.86, 0.31, 0.12, 0.76);
  -o-transition: 0.5s cubic-bezier(0.86, 0.31, 0.12, 0.76);
}

.lyric:hover {
  filter: blur(0px) !important;
  -webkit-filter: blur(0px) !important;
}
.current {
  filter: blur(0px);
  font-family: "SF Pro", var(--main-font) !important;
  scale: 1 !important;
  opacity: 1 !important;
  text-shadow: 0px 0px 12px #efefef55;
  animation: textShine forwards;
  -webkit-animation: textShine forwards;
  -webkit-filter: blur(0px);
}

.freeze {
  transition: 0.8s cubic-bezier(0.18, 1.05, 0.19, 0.99);
  opacity: 0.1 !important;
  -webkit-transition: 0.8s cubic-bezier(0.18, 1.05, 0.19, 0.99);
  -moz-transition: 0.8s cubic-bezier(0.18, 1.05, 0.19, 0.99);
  -ms-transition: 0.8s cubic-bezier(0.18, 1.05, 0.19, 0.99);
  -o-transition: 0.8s cubic-bezier(0.18, 1.05, 0.19, 0.99);
}

.current span {
  -webkit-background-clip: none !important;
  background-clip: none !important;
  -webkit-text-fill-color: var(--color) !important;
  text-fill-color: var(--color) !important;
  color: var(--color) !important;
}

.logo-share {
  position: absolute;
  bottom: 22px;
  right: 22px;
  width: 24px;
  height: 24px;
  opacity: 0.4;
}

.frame-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: 0;
  z-index: 0;
  overflow: hidden;
}

.frame-bg .bg-color,
.frame-bg .bg-black {
  width: 200%;
  position: absolute;
  border-radius: 100em;
  animation: rotate 50s linear infinite;
  -webkit-border-radius: 100em;
  -moz-border-radius: 100em;
  -ms-border-radius: 100em;
  -o-border-radius: 100em;
  -webkit-animation: rotate 50s linear infinite;
}

.frame-bg .bg-color {
  -webkit-filter: blur(100px);
  mix-blend-mode: luminosity;
  filter: blur(120px);
  z-index: 1;
  right: 0;
  top: 0;
}

.frame-bg .bg-black {
  animation-direction: reverse;
  -webkit-filter: blur(100px);
  animation-delay: 10s;
  filter: blur(120px);
  z-index: 1;
  bottom: 0;
  left: 0;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

@keyframes textShine {
  0% {
    text-shadow: 0px 0px 12px #efefef55;
  }

  100% {
    text-shadow: 0px 0px 0px #efefef55;
  }
}


@media only screen and (max-width: 440px) {
  p.lyric {
    font-size: 32px !important;
    scale: 0.6;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
}
@media only screen and (min-width: 500px) {
  #homelyric {
    min-height: initial !important;
    height: 300px !important;
    gap: 10px !important;
  }

  .lyric {
    font-weight: 600 !important;
    font-size: 32px !important;
    margin-top: 12px;
    margin-bottom: 16px;
  }

}

@media only screen and (max-width: 500px) {
  .left {
    flex-direction: row;
    margin-bottom: 32px !important;
  }
}
