:root {
  --color: #efefef;
}

* {
  font-family: var(--main-font);
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

html,
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility !important;
  margin: 0px;
  overflow: hidden;
  background: rgb(10, 10, 10);
}

h1,
h2,
h3,
h4,
h5,
p,
button {
  color: var(--color);
}

.grain {
  isolation: isolate;
  position: fixed;
  z-index: 50;
  pointer-events: none;
  opacity: 0.3;
  mix-blend-mode: soft-light;
}

.scrollable {
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
  overflow: auto !important;
  height: 80vh;
  width: -webkit-fill-available !important;
  width: stretch;
  scroll-behavior: smooth;
  margin-top: 0px !important;
}

.scrollable p {
  opacity: 0.4 !important;
}

#homelyric {
  width: -webkit-fill-available !important;
  width: stretch;
  padding-top: 32px;
  scroll-behavior: smooth;
  height: 350px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media only screen and (min-width: 450px) {
 #homelyric {
  height: 120px !important;
 }
}

#homelyric::-webkit-scrollbar {
  width: 0px;
}

button {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 12px 24px;
  cursor: pointer;
  border: 0px none;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.lyric {
  transition: 0.1s ease-in !important;
  max-width: 95%;
  font-size: 24px !important;
  opacity: 0.5;
  transform: scale(0.6);
  color: var(--color);
  font-weight: 500;
  transform-origin: left;
  margin-top: -6px !important;
}

.hail {
 opacity: 0.8 !important;
  transform: scale(0.8) !important;
}
.hail:before {
  content: '(';
}
.hail:after {
 content: ')';
}

.current {
  transform: scale(1) !important;
  opacity: 1 !important;
  font-weight: 700 !important;
  margin-top: 0px !important;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-track:hover {
  background-color: transparent;
}

/* scrollbar itself */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
}

::-webkit-scrollbar-button {
  display: none;
}

::-moz-selection {
  background-color: #1db954;
  color: rgb(10, 10, 10);
}

::selection {
  background-color: #1db954;
  color: rgb(10, 10, 10);
}

::-moz-selection {
  background-color: #1db954;
  color: rgb(10, 10, 10);
}
