.main {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 1fr;
  gap: 84px;
  height: -webkit-fill-available;
  height: stretch;
  min-height: 93vh;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-items: flex-end;
  padding: 2rem 4rem;
  width: 89vw;
  z-index: 2;
}

.lirics {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background: rgba(53, 50, 50, 0.25) !important;
}

.shareContainer {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.lyricContainer, .shareContainer, .fullContainer {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

}
.lyrics {
  position: absolute;
  left: 0;
  padding-bottom: 100px;
  margin-top: -80px;
  min-height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 18px;
  position: relative;
  width: -webkit-fill-available;
  width: stretch;
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(transparent),
    color-stop(25%, black),
    color-stop(75%, black),
    to(transparent)
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 15%,
    black 75%,
    transparent 100%
  );
  mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(transparent),
    color-stop(15%, black),
    color-stop(75%, black),
    to(transparent)
  );
  mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 15%,
    black 75%,
    transparent 100%
  );
  padding: 2rem 0rem;
  z-index: 2;
}

.hail {
  filter: blur(0px);
  font-size: 24px;
  opacity: 0.4 !important;
  transform: scale(0.8) !important;
  transition: none;
  font-weight: 500 !important;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  -webkit-transform: scale(0.8) !important;
  -moz-transform: scale(0.8) !important;
  -ms-transform: scale(0.8) !important;
  -o-transform: scale(0.8) !important;
}

.lyrics p {
  max-width: 800px;
  font-weight: 600;
  text-align: left;
}

.fullContainer .lyrics {
  mask-image: none !important;
  background: transparent !important;
}

.image {
  max-width: 320px;
  max-height: 320px;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  min-height: 100vh;
}

.spotify {
  border-radius: 50px;
  background-color: #1db954;
  color: rgb(10, 10, 10);
  padding: 12px 24px;
  font-size: 18px;
  font-weight: 600;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.dialog {
  background-color: rgba(255, 255, 255, 0.058);
  padding: 48px;
  border-radius: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-border-radius: 36px;
  -moz-border-radius: 36px;
  -ms-border-radius: 36px;
  -o-border-radius: 36px;
}

.dialog p {
  max-width: 350px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 36px;
}

.left,
.login {
  z-index: 2;
  position: relative;
}

.login {
  display: flex;
  height: 100vh;
  display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.left {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 12px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;

}

.left h1 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 4px !important;
}
.left h3 {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.7;
}

.left h1,
.left h3 {
  margin: 0;
  text-align: center;
}

.back {
  position: absolute;
  z-index: 3;
  top: 12px;
  left: 12px;
  font-weight: 800;
  padding: 6px !important;
  padding-bottom: 2px !important;
}

@media only screen and (max-width: 900px) {
  .left {
    margin: 0px !important;
  }
}

@media only screen and (max-height: 600px) {
  .lyrics h3 {
    font-size: 26px;
  }

  .hail {
    font-size: 18px;
  }
  
  .left {
    width: 30vw; 
    gap: 32px;
  }

  .left h1 {
    font-size: 22px !important;
  }

  .left h3 {
    font-weight: 500;
    font-size: 14px !important;
  }

  .image {
    max-width: 220px;
    max-height: 220px;
    border-radius: 14px  ;
    -webkit-border-radius: 14px  ;
    -moz-border-radius: 14px  ;
    -ms-border-radius: 14px  ;
    -o-border-radius: 14px  ;
}
}

@media only screen and (max-width: 776px) {
  .left {
    width: 220px;
    gap: 22px;
  }

  .left h1 {
    font-size: 26px;
  }

  .left h3 {
    font-weight: 500;
    font-size: 16px;
  }

  .image {
    max-width: 270px;
    max-height: 270px;
  }
  .lyrics h3 {
    font-size: 26px;
  }

  .hail {
    font-size: 18px;
  }
}

@media only screen and (max-width: 700px) {
  .main {
    display: flex !important;
    width: 89vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: flex-end;
    padding: 2rem;
    gap: 0px !important;
    padding-top: 0.5rem !important;
    padding-bottom: 4rem !important;
    height: 97vh;
  }

  .fullContainer {
    margin: 2rem;
    margin-top: 64px;
    width: 90vw;
    height: 90vh;
  }

  .lyricContainer {
    width: 90vw;
    height: 70vh !important;
    justify-content: flex-start;
    margin-left: auto;
    margin-right: auto;
  }

   .shareContainer {
    width: 80vw;
    justify-content: flex-start;
    margin-left: auto;
    margin-right: auto;
  }

  .lyrics {
    margin-top: 0px !important;
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: stretch !important;
  }

  .left {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 80vw;
  }

  .image {
    max-height: 64px !important;
    max-width: 64px !important;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }

  .left h1 {
    font-size: 22px;
    text-align: left;
  }
  .left h3 {
    font-size: 14px;
    font-weight: 400;
    text-align: left;
  }

  .hail {
    font-size: 26px !important;
  }

}

@media only screen and (max-width: 440px) {
  .main {
    padding: 24px !important;
    padding-bottom: 4rem;
  }
}


@media only screen and (max-width: 360px) {
  .image {
    display: none;
  }
  .left h1 {
    font-size: 20px;
    text-align: center;
  }
  .left {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .left h3 {
    font-size: 12px;
    text-align: center;
  }

  .left {
    gap: 12px;
  }
}
